:root{
  --default-bg:#333853;
  --item-bg:#3C4262;
  --item-bg-hover:#464d6e;
  --text-color:#B6B9CA;
  --text-highlight: #000;
  --item-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
  --dark-opacity: 0.65;

  --green:#219653;
  --yellow:#F2C94C;
}

html,
body {
  font-family: "Roboto", sans-serif;
  color:var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

button{
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  border:none;
  border-radius:.3rem;
  box-shadow: var(--item-shadow);
  padding:1rem 1.3rem;
  background: var(--item-bg);
  font-size:1rem;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.center-container{
  width:100vw;
  max-width:800px;
  display: flex;
  justify-content: center;

}

.default-item{
  background: rgba(255,255,255,.1);
  box-shadow: var(--item-shadow);
}

.defaultBG{
  background: var(--default-bg);
}

.defaultItemBG{
  background: var(--item-bg);
}

.greenBG{
  background: var(--green);
}

.yellowBG{
  background: var(--yellow);
}


.greenText{
  color: var(--green)
}

.yellowText{
  color: var(--yellow);
}